.filter-container {
  display: flex;
  gap: 20px;
  width: 1152px;
  margin-bottom: 20px;
  border-width: 1px;
  border-radius: 8px;
  border: 1px solid #ccc; // Add border to make it visible
  padding: 20px; //
}

.filter-item {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 5px;
}

select {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}